.card-layout {
  padding: 48px;

  @include breakpoint(desktop) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.card {
  position: relative;

  .card__button {
    padding: 11px 32px;
    border: 1px solid transparent;
    border: 1px solid transparent;
    border-radius: 25px;

    &:hover {
      @include breakpoint(desktop) {
        cursor: pointer;
        background-color: var(--bg1);
        border: 1px solid var(--color1);
      }
    }
  }

  &:first-child {
    background: var(--bg1);
    border-radius: 8px 8px 0 0;

    @include breakpoint(desktop) {
      border-radius: 8px 0 0 8px;
    }

    .card-layout {
      &:before {
        @extend %card-picture;
        background-image: url("./assets/icon-sedans.svg");
      }
    }

    .card__button {
      color: var(--bg1);

      &:hover {
        @include breakpoint(desktop) {
          background-color: var(--bg1);
          color: var(--color1);
        }
      }
    }
  }

  &:nth-child(2) {
    background: var(--bg2);

    .card-layout {
      &:before {
        @extend %card-picture;
        background-image: url("./assets/icon-suvs.svg");
      }
    }

    .card__button {
      color: var(--bg2);

      &:hover {
        @include breakpoint(desktop) {
          background-color: var(--bg2);
          color: var(--color1);
        }
      }
    }
  }

  &:nth-child(3) {
    background: var(--bg3);

    .card-layout {
      &:before {
        @extend %card-picture;
        background-image: url("./assets/icon-luxury.svg");
      }
    }
  }

  .card__button {
    color: var(--bg3);

    &:hover {
      @include breakpoint(desktop) {
        background-color: var(--bg3);
        color: var(--color1);
      }
    }
  }

  &:last-child {
    border-radius: 0 0 8px 8px;

    @include breakpoint(desktop) {
      border-radius: 0 8px 8px 0;
    }
  }
}

.card__button {
  @include text-secondary;
  background: var(--color1);
  outline: none;
  font-family: var(--font-secondary);
  padding: 20px 40px;
  border-radius: 25px;
  border: none;
}

.card__heading {
  @include text-heading;
  font-family: var(--font-primary);
  color: var(--color1);
  margin-bottom: 25px;
}

.card__text {
  @include text-secondary;
  font-family: var(--font-secondary);
  color: var(--text-secondary);
  margin-bottom: 25px;

  @include breakpoint(desktop) {
    margin-bottom: 83px;
  }
}
