:root {
  --font-primary: "Big Shoulders Display", sans-serif;
  --font-secondary: "Lexend Deca", sans-serif;
}

@mixin text-heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
}

@mixin text-secondary {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

@mixin card-picture {
  content: "";
  width: 64px;
  height: 40px;
  display: block;
  margin-bottom: 35px;
}
